/* Fonte */
.branco{color: white;}
.azul{color: dodgerblue;}
.azulEscuro{color: #292C44;}
.azulBlack {color: #265685 !important;}
.verde {color: #33cd5f !important;}
.amarelo {color: rgb(252, 194, 22) !important} /*#FFC900*/
.cinza{color: #b9b9b9;}
.cinzaMedio{color: #83858a !important;}
.cinza-escuro{color: #444;}
.preto{color: #000000}
.laranja{color: #DF611F !important;}
.vermelho{color: #e74c3c;}
.bronze{color: #E67E22;}

/* Background/Cores */
.bg-amarelo{ background: rgb(252, 194, 22)}
.bg-azul{ background-color: rgb(45, 195, 255);}
.bg-azulMedio{background: #087ecc !important;}
.bg-darkBlue{ background-color: #265685 !important;}
.bg-branco{background-color: #ffffff;}
.bg-cinza{background: #C8C8C8;}
.bg-cinzaClaro{background: #f6f9fa; }
.bg-cinzaEscuro{background: #555555}
.bg-cinzaMedio{background: #ebebeb}
.bg-laranja{background: #ff8519;}
.bg-preto{background-color: #313131;}
.bg-rosa{background: #ff31aa;}
.bg-roxo{background: #9b59b6;}
.bg-turquesa{background: #07bab6 !important;}
.bg-verde{background: #2ecc71 !important;}
.bg-vermelho{background: #e74c3c !important;}
